# old Node/Bun dependency folders
node_modules

# output
out
dist
*.tgz

# Python
.venv
__pycache__/
*.py[cod]
.pytest_cache/

# Database files
*.db
data
*.sqlite
*.sqlite3

# logs
logs
*.log

# environment files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.venv

# caches
.eslintcache
.cache
AI*.md